In [ ]:
# ARJUN SUMMER OF PYTHON

In [ ]:
# Example - 1: Return a value

print('This is a message')

A = 10
B = A

print('A =', A,'= B')

In [ ]:
# Example - 2: Using seperator and end argument
a = 10
print('a =', a, sep='dddd', end = '\n')

In [ ]:
# 3 Taking Input to the User

Name = input('Please enter student name')

print('The student name is', Name)

a = int(input('Enter first number'))
b = int(input('Enter second number'))

print('The sum of', a,'and', b,'is', a+b)

In [ ]:
# Python String

str1 = "Hello"
print(str1)

str1 = 'Hello'
print(str1)

str1 = "'Hello'"
print(str1)

str1 = "Hello's"
print(str1)

In [ ]:
# Python List

L1 = ["John", 102, "USA"]      
L2 = [1, 2, 3, 4, 5, 6]     

print(type(L1)) # list is mutable
print(type(L2)) # list is mutable

In [ ]:
# Python Tuple
tup = ("Apple", "Mango" , "Orange" , "Banana")  

print(type(tup))  #tuple is immutable
print(tup)

tup[2] = 'Papaya'
print(tup) # you will get error since tuples are immutable/

In [ ]:
# Python Dictionary

employee = {"Name": "John", "Age": 29, "salary":250000,"Company":"GOOGLE"}      

print(type(employee))      
print(employee, end ='\n\n')

In [ ]:
# Creating Set  (a collection of unordered elements)

Month = {"January", "February", "March", "April", "May", "June", "July"}  
print(type(Month))  
print(Month)

In [ ]:
# Indentation and Comment in Python

list1 = [1, 2, 3, 4, 5] 

print(type(list1)) # this is a comment

for i in list1:
    print(i)
    if i == len(list1):
        print('last number is', i)

In [ ]:
# Variables (must start with a character or an underscore)
# Variables cannot start with a number or have special charcters

number = 10  
print(number)  
  
_a = 100  
print(_a)  
  
x_y = 1000  
print(x_y)

In [ ]:
a = 50
b = a

print('ID when a = 50 ', id(a))  
print('ID when b = a  ', id(b)) 

# Reassigned variable a  
a = 500  
print('ID when a = 500', id(a))

In [ ]:
#Variable Names

name = "A"  
Name = "B"  
naMe = "C"  
NAME = "D"  
n_a_m_e = "E"  
_name = "F"  
name_ = "G"  
_name_ = "H"  
na56me = "I"  
  
print(name,Name,naMe,NAME,n_a_m_e, NAME, n_a_m_e, _name, name_,_name, na56me)

In [53]:
# Camel Case - In the # camel case, each word or abbreviation in the middle of begins with a capital letter. There is no intervention of whitespace.
# For example - nameOfStudent, valueOfVaraible, etc.

# Pascal Case - It is the same as the Camel Case, but here the first word is also capital.
# For example - NameOfStudent, etc.

# Snake Case - In the snake case, Words are separated by the underscore.
# For example - name_of_student, etc.

In [54]:
# Assigning single value to multiple variables

x=y=z=50    
print(x)    
print(y)    
print(z)

50
50
50

In [56]:
# Assigning multiple values to multiple variables:

a,b,c=5,10,15    
print(a)
print(b)    
print(c)

5
10
15

In [68]:
# Local Variable


def add():
    a = 20
    b = 30
    c = int(a) + int(b)
    print('Sum of', a,'and',b,'is', c)
    
add()

Sum of 20 and 30 is 50

In [70]:
# GLOBAL FUNCTION

# Declare a variable and initialize it  
x = 101  
  
# Global variable in function  
def mainFunction():  
    # printing a global variable  
    global x  
    print(x)  
    # modifying a global variable  
    x = 'Welcome'  
    print(x)  
  
mainFunction()  
print(x)

101
Welcome
Welcome

In [77]:
# Data Types:

a=10  
b="Hi Python"  
c = 10.5  
print(type(a))  # whole numbers
print(type(b))  # text
print(type(c), end = '\n\n')  # decimals

a = 5  
print("The type of a", type(a))  
  
b = 40.5  
print("The type of b", type(b))  
  
c = 1+3j  
print("The type of c", type(c))  
print(" c is a complex number", isinstance(1+3j,complex))

<class 'int'>
<class 'str'>
<class 'float'>

The type of a <class 'int'>
The type of b <class 'float'>
The type of c <class 'complex'>
 c is a complex number True

In [78]:
# Multiline string

str = "string using double quotes"  
print(str)  

s = '''A multiline 
string'''  

print(s)

string using double quotes
''A multiline
string

In [86]:
# String Reference:

str1 = 'hello Arjun Arya ' #string str1    
str2 = ' how are you' #string str2    
print ('printing first two character using slice operator =>', str1[0:2])
print ('printing 4th character of the string =>',str1[4])    
print ('printing the string twice =>', str1*2) #   
print ('printing the concatenation of str1 and str2 =>', str1 + str2)

printing first two character using slice operator => he
printing 4th character of the string => o
printing the string twice => hello Arjun Arya hello Arjun Arya
printing the concatenation of str1 and str2 => hello Arjun Arya  how are you

In [90]:
list1  = [1, "hi", "Python", 2]    
#Checking type of given list  
print(type(list1))  
  
#Printing the list1  
print (list1)  
  
# List slicing  
print (list1[3:])  
  
# List slicing  
print (list1[0:2])   
  
# List Concatenation using + operator  
print (list1 + list1)  
  
# List repetation using * operator  
print (list1 * 3)

<class 'list'>
[1, 'hi', 'Python', 2]
[]
[1, 'hi']
[1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2]
[1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2]

In [93]:
d = {1:'Arjun', 2:'Amit', 3:'Jeena', 4:'Meera'}     
  
# Printing dictionary  
print (d)  
  
# Accesing value using keys  
print("1st name is "+d[1])   
print("2nd name is "+ d[4])    
  
print (d.keys())    
print (d.values())

{1: 'Arjun', 2: 'Amit', 3: 'Jeena', 4: 'Meera'}
1st name is Arjun
2nd name is Meera
dict_keys([1, 2, 3, 4])
dict_values(['Arjun', 'Amit', 'Jeena', 'Meera'])

In [92]:
# Creating Empty set  
set1 = set()  
  
set2 = {'James', 2, 3,'Python'}  
  
#Printing Set value  
print(set2)  
  
# Adding element to the set  
  
set2.add(10)  
print(set2)  
  
#Removing element from the set  
set2.remove(2)  
print(set2)

{2, 3, 'James', 'Python'}
{2, 3, 'James', 'Python', 10}
{3, 'James', 'Python', 10}